.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.detail-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  margin-top: 40px;
}

.detail-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.detail-text h2 {
  margin: 5px 0;
  font-size: 20px;
}

.detail-info img {
  width: 40%;
  border-radius: 10px;
}