.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  backdrop-filter: blur(3px);
  /* Agrega un efecto de desenfoque */
  padding: 20px;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 157, 77, 0.7);
  /* Color de fondo transparente */

}


.form-label {
  color: #fdfdfd;
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-family: 'Creepster', cursive;
}

.form-span {
  font-family: 'Nunito', sans-serif;
}

.form-input {
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.form-input-error {
  border: 2px solid #fbbb9a;
}

.form-error {
  color: #fbbb9a;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.form-button {
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #0ca8be;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-button:hover {
  background-color: #b0cfd4;
}